@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body{
    background: #1d1d1d;;
    color: #46bf2b;
    max-width: 1024px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    LINE-HEIGHT: 22px;
}

.conteiner{

    margin: 10px ;
    padding: 20px;
}

.form1{
    background: #151515;
    padding: 20px;
    border: solid 2px #0b3c00;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #151515;
    margin: 20px;
}

input{
    background-color: #333;
    color: #fff;
    border-color: grey;
}

.odpoved{
    width: 34%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    min-height: 50px;
    box-shadow: 2px 2px 2px #151515;
    border-radius: 7px;
    border: solid 1px;
    position: absolute;
    top: 62px;
    right: 50px;
}

p{
    font-size: 120%;
    color: #a3c5a3;
}
}

.menu_1 ul {
    position: relative;
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align:center;
}

.menu_1 ul::before {
    content: "";
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 25px 0;
    border-left: 15px solid #eee;
}

.menu_1 ul li {
    position: relative;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

}

.menu_1 ul li a {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    padding: 0 20px 0 40px;
    color: #bff;
    background: #636363;
}

.menu_1 ul li a::before {
    content: "";
    position: absolute;
    z-index: 10;
    right: -16px;
    top: 50%;
    display: block;
    margin-top: -25px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 25px 0;
    border-left: 15px solid #eee;
}

.menu_1 ul li a::after {
    content: "";
    position: absolute;
    z-index: 15;
    right: -15px;
    top: 50%;
    display: block;
    margin-top: -25px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 25px 0;
    border-left: 15px solid #636363;
}

.menu_1 ul li a:hover
{ background: #16b }

ul li a:hover::after
{ border-left-color: #16b }